#afbabf{
    width: 350px;
    position: absolute;
    top: 80px;
    left: 200px;
}
.fafkamfo .vavaiv{
   font-size: 35px;
   font-weight: bold;
   margin-top: 10px;
}
.fafkamfo .vjav{
    margin-top: 15px;
    color: gray;
}
.viivi{
    width: 315px;
    height: 358px;
    position: absolute;
    top: 205px;
    right: 160px;
    display: block;
}
#dulu{
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 30px;
    left: 25px;
}
#dianhua{
    display: -ms-flexbox;
    display: box;
    display: flex;
    width: 150px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    -o-box-pack: justify;
    justify-content: space-between;
    -o-box-align: center;
    align-items: center;
    padding-left: 15px;
    background-color: #fff;
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 20px;
}
#jia86{
    border: 1px solid #ddd;
    font-size: 15px;
    height: 42px;
    width: 70px;
    border-radius: 5px;
    position: relative;
    top: 64px;
    left: 30px;
    text-align: center;
    line-height: 42px;
}
#yanzhengma{
    display: -ms-flexbox;
    display: box;
    display: flex;
    width: 220px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    -o-box-pack: justify;
    justify-content: space-between;
    -o-box-align: center;
    align-items: center;
    padding-left: 15px;
    background-color: #fff;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
}
#vnaiv{
    width: 240px;
    color: white;
    background-color: blue;
    height: 40px;
    border-radius: 5px;
    margin-left: 30px;
    text-align: center;
    line-height: 40px;
}
#vavnaivnai{
    position: absolute;
    right: 3px;
    top:2px;
}
.vjbavj{
    width: 100%;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top: 700px;
    color: gray;
}
.vjbav{
    width: 100%;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top: 740px;
    color: gray;
}
.vvivbai{
    width: 315px;
    height: 358px;
    position: absolute;
    top: 211px;
    right: 158px;
    display: none;
}
#vjbavba{
    position: absolute;
    right: 5px;
    top: -5px;
}
.viivi .dianhuahaomakaitou{
    background-color: white;
    width: 240px;
    float: left;
    font-size: 15px;
    height:250px;
    overflow: auto;
    position: absolute;
    left: 30px;
    top: 132px; 
    display: none;
}
.viivi .dianhuahaomakaitou .shouwei{
    height: 30px; 
    line-height:30px ;   
}
.viivi .dianhuahaomakaitou .shouwei .vwthi{
    margin-left: 20px;
}
.viivi .dianhuahaomakaitou .shouwei:hover{
    background-color: #9ed5f8b9;
    color: #3bb1fa;
}


